.banner{
        height: 325px;
        background: url("../../img/udemy-logo-semi-transparent.svg") 0/21% no-repeat, linear-gradient(61deg, $color-purple-0, $color-blue-1 41%);
        text-align: center;
        background-blend-mode: overlay;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
                @include styleText($color-white-0,$fs-4,$fw-0);
        }
        p{
                color:$color-white-0;
                margin-bottom: 0;
        }
        button{
                margin:$mg-3 0;
        }

}