.jobs{
        background-color: $color-gray-6;
        padding-top: $pd-3;
        .jobs_content{
                width: 90%;
                margin: 0 auto;
                .col{
                        display: flex;
                        justify-content: center;
                        .jobs_items{
                                text-align: center;
                                max-width: 450px;
                                h2{
                                        @include styleText($color-black-light,$fs-3 + 1,$fw-1);
                                }
                        }
                }
        }
}