.partners{
        background-color: $color-gray-6;
        padding-top: $pd-3;
        .partners_content{
                width: 70%;
                margin: 0 auto;
                .partners_text{
                        text-align: center;
                }
                .partner_logos{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                }
        }
        @include responsive('extra-large'){
                .partners_content{
                        width: 90%;
                }
        }
        @include responsive('medium'){
                .partners_content{
                        width: 60%;
                        .partner_logos{
                                flex-wrap: wrap;
                                .partner_items{
                                        width: 50%;
                                        text-align: center;
                                        margin-bottom: $mg-3;
                                }
                        }
                }
        }
}